html(lang="ru")
  head
    meta(charset="utf-8")
    meta(name='viewport', content="initial-scale=1.0, width=device-width")
    title= "Social dashboard"
    style
      include main.css
  body
    .head
        .title
            h1 Social Media Dashboard
            p Total Followers: 23,004
        .mode
            p Dark Mode

    .main-stat
        .block-stat
            p.social @nathanf
            h1.number 1998
            p.followers followers
            .change
                .p 12 Today

        .block-stat
            p.social @nathanf
            h1.number 1998
            p.followers followers
            .change
                .p 12 Today

        .block-stat
            p.social @nathanf
            h1.number 1998
            p.followers followers
            .change
                .p 12 Today
                
        .block-stat
            p.social @nathanf
            h1.number 1998
            p.followers followers
            .change
                .p 12 Today
    