// Primary
$lime-green: hsl(163, 72%, 41%)
$bright-red: hsl(356, 69%, 56%)

$facebook: hsl(208, 92%, 53%)
$twitter: hsl(203, 89%, 53%)
$instagram: linear-gradient hsl(37, 97%, 70%) to hsl(329, 70%, 58%)
$youTube: hsl(348, 97%, 39%)

// Dark Theme
$toggle-dark: linear-gradient(left, hsl(210, 78%, 56%), hsl(146, 68%, 55%)) 1


$very-dark-blue-bg: hsl(230, 17%, 14%) // BG
$very-dark-blue-top: hsl(232, 19%, 15%) // Top BG Pattern
$dark-desaturated-blue: hsl(228, 28%, 20%) // Card BG
$desaturated-blue: hsl(228, 34%, 66%) // Text
$white: hsl(0, 0%, 100%) // Text

// Light Theme
$toggle: hsl(230, 22%, 74%)

$whiteBg: hsl(0, 0%, 100%) //BG
$very-pale-blue: hsl(225, 100%, 98%) // Top BG Pattern
$light-grayish-blue: hsl(227, 47%, 96%) // Card BG
$dark-grayish-blue: hsl(228, 12%, 44%) // Text
$very-dark-blue: hsl(230, 17%, 14%) // Text
    
body
    font-family: 'Inter', sans-serif
    font-size: 14px
    background: #f8f6f6
    width: 1440px
    margin-left: auto
    margin-right: auto
    transition: .3s
    @media screen and (max-width: 500px) 
        width: 375px
        margin-left: auto
        margin-right: auto

    .head 
        display: flex
        align-items: center
        justify-content: space-between
        @media screen and (max-width: 500px) 
            display: block
            padding: 1em

        h1
            color: $very-dark-blue

        p
            margin: 0
            color: $dark-grayish-blue

        h3
            color: $dark-grayish-blue
            margin-right: 1em

        .mode
            display: flex
            align-items: center
            @media screen and (max-width: 500px) 
                justify-content: space-between
                margin-top: 2em
                border-top: 1px solid #000
                padding-top: 1em
            

    .main-stat
        margin-top: 2em
        display: flex
        justify-content: space-between
        @media screen and (max-width: 500px) 
            display: block
            padding: 0 1em 1em 1em
        

        .block-stat
            transition: .3s
            cursor: pointer
            display: flex
            flex-direction: column
            align-items: center
            width: 300px
            padding: 20px
            background: $light-grayish-blue
            @media screen and (max-width: 500px) 
                width: auto
                margin-top: 1em

            &:hover
                background: #e7e9f1

            .number
                padding: 0
                margin: 10px 0 10px 0
                font-size: 3rem

            .change
                display: flex
                align-items: center
                font-weight: 600

                img
                    margin: 0 5px 0 5px

                .up
                    color: $lime-green

                .down
                    color: $bright-red

        .facebook
            border-top: 4px solid $facebook

            
        .twitter
            border-top: 4px solid $twitter

        .instagram
            border-top: 5px solid
            border-image: linear-gradient(left, hsl(37, 97%, 70%), hsl(329, 70%, 58%)) 1

        .youTube
            border-top: 4px solid $youTube

        .name-soc
            display: flex
            align-items: center
            justify-content: space-evenly

            p
                font-weight: 700
                color: $dark-grayish-blue

            img 
                margin: 0 1em 0 1em

        .followers
            color: $dark-grayish-blue
            text-transform: uppercase
            letter-spacing: 4px
            margin: 0 1em 2em 1em

    .overview
        margin-top: 4em
        @media screen and (max-width: 500px) 
                margin-top: 2em

        h2
            color: $dark-grayish-blue
            @media screen and (max-width: 500px) 
                padding: 0 1em 0 1em

        .overview-flex
            display: flex
            justify-content: space-between
            margin: 50px 0 50px 0
            @media screen and (max-width: 500px) 
                display: block
                padding: 0 1em 0 1em
                margin: 0

            .overview-card
                transition: .3s
                cursor: pointer
                background: $light-grayish-blue
                width: 300px
                padding: 20px 20px 0 20px
                @media screen and (max-width: 500px) 
                    margin-top: 1em

                &:hover
                    background: #e7e9f1

            .number
                font-size: 2rem
                font-weight: bold
            
            .change
                display: flex
                align-items: center
                font-weight: 600

                img
                    margin: 0 5px 0 5px

                .up
                    color: $lime-green

                .down
                    color: $bright-red

            .overview-card-name-stat
                display: flex
                align-items: center
                justify-content: space-between

            .overview-card-number
                display: flex
                align-items: center
                justify-content: space-between


.switch 
    position: relative
    display: inline-block
    width: 60px
    height: 34px

    input 
        opacity: 0
        width: 0
        height: 0

.slider 
  position: absolute
  cursor: pointer
  top: 0
  left: 0
  right: 0
  bottom: 0
  background-color: #ccc
  -webkit-transition: .4s
  transition: .4s


.slider:before 
  position: absolute
  content: ""
  height: 26px
  width: 26px
  left: 4px
  bottom: 4px
  background-color: white
  -webkit-transition: .4s
  transition: .4s


input:checked + .slider 
  background: linear-gradient(left, hsl(210, 78%, 56%), hsl(146, 68%, 55%))


input:focus + .slider 
  box-shadow: 0 0 1px #2196F3


input:checked + .slider:before 
  -webkit-transform: translateX(26px)
  -ms-transform: translateX(26px)
  transform: translateX(26px)
  background-color: $dark-desaturated-blue

.slider.round 
  border-radius: 34px



.slider.round:before 
  border-radius: 50%




// Dark mode

.dark-mode
    background: $very-dark-blue-bg
    transition: .3s

    .social, .followers, .mode, .overview-card-name-stat, h3.title 
        color: $desaturated-blue !important

    .title h1, .number, .overview h2
        color: $white !important


    .block-stat, .overview-card
        background: $dark-desaturated-blue !important

        &:hover
            background: #3b4261 !important

    .attribution, .attribution a
        color: $white
        
.attribution
    @media screen and (max-width: 500px) 
        padding: 1em

    a
        color: $very-dark-blue

